<header class="site-header">

  <div class="sticky-nav">
    <div class="flex-row sp-btn al-ctr">
      <div class="site-title">
        <a class="link" href="{{ site.baseurl }}/">{{ site.title }}</a>
        <sub class="small-txt">Seeker, Writer, Coder...</sub>
      </div>

        <ul class="social-media-list flex-row">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
          <li><a class="link" href="http://in.linkedin.com/in/{{site.linkedin}}">{{ site.linkedin }}</a></li>
          <li><a class="link" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
          <li><a class="link" href="https://www.truecaller.com/in/{{site.phone_number}}">+91-{{ site.phone_number }}</a></li>

        </ul>

    </div>
    <div class="flex-row js-fl-end">
      {% for my_page in site.pages %}
        {% if my_page.title %}
          <a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
        {% endif %}
      {% endfor %}
    </div>
  </div>

</header>
